body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
    background: #c0a8ec;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navlist {
    background: #1a2a3a;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 5px;
    margin: 0px;
}

.navlist a {
    color: #f0ecec;
    text-decoration: none;
    cursor: pointer;
}

.navlist a:hover {

    padding: 8px;
    border-radius: 15px;
    color: #fff;
    border: 2px solid aquamarine;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

.ambany {
    color: #fff;
    background: #1a2a3a;
    width: 450px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0px;
    border-radius: 20px;
}

